# Python
*.py[cod]
*$py.class
__pycache__/
.pytest_cache/
.python-version
env/
venv/
egg/
pyvenv.cfg
*.sqlite3
*.sqlite3-journal
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Django static
staticfiles/

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/.env
node_modules/
*.env

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Vite
/dist/

# IDE
.vscode/

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
